<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugando con Django</title>
</head>
<body>
    <h1>Buen dia!!</h1>
    <p>Jugaremos con Django

    </p>

    <img src="https://media.giphy.com/media/ZkAT3yRf0CMcE/giphy.gif" alt="play">
    <h2> Bienvenid@ {{nombre}}{{apellido}} es hora de jugar</h2>
    <img src="https://media.giphy.com/media/2lQCBjuFMLCOvXno4l/giphy.gif" alt"juego">
 
    
</body>
</html>